In [ ]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [ ]:
ser = Series(np.random.randn(6), index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [4]:
ser

1  a    0.115652
   b   -0.123286
   c    0.446277
2  a    1.164743
   b    0.659863
   c    1.459412
dtype: float64

In [6]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [8]:
ser[1]

a    0.115652
b   -0.123286
c    0.446277
dtype: float64

In [10]:
ser[2]

a    1.164743
b    0.659863
c    1.459412
dtype: float64

In [12]:
ser

1  a    0.115652
   b   -0.123286
   c    0.446277
2  a    1.164743
   b    0.659863
   c    1.459412
dtype: float64

In [14]:
ser[:,'a']

1    0.115652
2    1.164743
dtype: float64

In [ ]:
dframe = ser.unstack()

In [17]:
dframe

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>0.115652</td>
      <td>-0.123286</td>
      <td>0.446277</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.164743</td>
      <td>0.659863</td>
      <td>1.459412</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
dframe.unstack()

a  1    0.115652
   2    1.164743
b  1   -0.123286
   2    0.659863
c  1    0.446277
   2    1.459412
dtype: float64

In [22]:
dframe.T.unstack()

1  a    0.115652
   b   -0.123286
   c    0.446277
2  a    1.164743
   b    0.659863
   c    1.459412
dtype: float64

In [ ]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)),
                    index=[['a','a','b','b'],[1,2,1,2,]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [25]:
dframe2

<div>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="2" halign="left">NY</th>
      <th>LA</th>
      <th>SF</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>cold</th>
      <th>hot</th>
      <th>hot</th>
      <th>cold</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">a</th>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">b</th>
      <th>1</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
dframe2.index.names = ['INDEX_1','INDEX_2']

In [28]:
dframe2

<div>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan="2" halign="left">NY</th>
      <th>LA</th>
      <th>SF</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>cold</th>
      <th>hot</th>
      <th>hot</th>
      <th>cold</th>
    </tr>
    <tr>
      <th>INDEX_1</th>
      <th>INDEX_2</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">a</th>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">b</th>
      <th>1</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
dframe2.columns.names = ['Cities', 'Temp']

In [31]:
dframe2

<div>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>Cities</th>
      <th colspan="2" halign="left">NY</th>
      <th>LA</th>
      <th>SF</th>
    </tr>
    <tr>
      <th></th>
      <th>Temp</th>
      <th>cold</th>
      <th>hot</th>
      <th>hot</th>
      <th>cold</th>
    </tr>
    <tr>
      <th>INDEX_1</th>
      <th>INDEX_2</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">a</th>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">b</th>
      <th>1</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
dframe2.swaplevel('Cities','Temp',axis=1)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>Temp</th>
      <th>cold</th>
      <th colspan="2" halign="left">hot</th>
      <th>cold</th>
    </tr>
    <tr>
      <th></th>
      <th>Cities</th>
      <th>NY</th>
      <th>NY</th>
      <th>LA</th>
      <th>SF</th>
    </tr>
    <tr>
      <th>INDEX_1</th>
      <th>INDEX_2</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">a</th>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">b</th>
      <th>1</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

In [36]:
dframe2.sortlevel(1).sortlevel(0)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>Cities</th>
      <th colspan="2" halign="left">NY</th>
      <th>LA</th>
      <th>SF</th>
    </tr>
    <tr>
      <th></th>
      <th>Temp</th>
      <th>cold</th>
      <th>hot</th>
      <th>hot</th>
      <th>cold</th>
    </tr>
    <tr>
      <th>INDEX_1</th>
      <th>INDEX_2</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">a</th>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">b</th>
      <th>1</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>2</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
dframe2.sum(level='Temp', axis=1)